h1{
    color: red;
}
.texto-random{
    color: yellow;
    text-align: center;
    padding: 2rem;
}
#teste{
    text-decoration: underline;
    opacity:30%;
}
body{
    text-align: center;
    background-color: rgb(247, 0, 255);
}